.Navbar{
    /* display: flex; */
    position: sticky;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-around;
    align-items: center;
    font-size: 3rem;
    padding: 2rem 3rem;
    background-color: #517f74;
    color: #fff;
    z-index:0;
     display: grid;
    grid-template-columns: repeat(3,1fr);
    justify-items: center; 
    
}

.Popcorn{
    display: inline-block;
    max-width: 4rem;
}

 @media only screen and (max-width:56.25em){
    .Logo span{
        display: none;
    }
}  



