.Navbar{
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    justify-content: space-between;
    font-size: 2.5rem;
    padding: 2rem 3rem;
    background-color: #479107;
    color: #fff;
    
}
@media only screen and (max-width:64em){
    .topItems{
        display: none;
    }
}



