input{
    width: 40rem;
    padding: 2rem;
    height: 4.5rem;
    font-size: 2.28rem;
    border-radius: 10rem;
    outline: none;
    border: none;
    display: inline-block;
}
.Search i{
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    position: relative;
    top: .1rem;
    left: 40.5rem;
    background-color: rgb(87, 87, 87);
    border-radius: 50%;
    padding: 1.12rem 1.12rem 1rem 1.12rem;

}
