.SideMenu{
    background-color: #fff;
    width: 25rem;
    height: 100vh;
    position: absolute;
    top: 0;
    right: -25rem;
    transition: all .3s;
    z-index: 300;
}

.SideMenu a {
    text-align: center;
    color: #000;
    display: block;
    margin: 1rem 0;
    padding: 1.5rem;
    
}
.SideMenu a:hover{
    background-color: #479107;
    color: white;
}
.X{
    color: #000;
    text-align: right;
    font-size: 5rem;
}
.X i {
    padding: 1.5rem;
    display: inline-block;
    cursor: pointer;
}

