 .App{
    overflow-x: hidden;
    transition: all .5s;
}
.OpenMenu{
    transition: all .5s;
}
.OpenMovieDetail{
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    transition: all .5s;
}



