.App{
    width: 100%;
    position:relative;
    right: 0rem;
    overflow-x: hidden;
    transition: all .5s; 
}
.OpenMenu{
    width: 100%;
    position:relative;
    right: 42rem;
    transition: all .5s;
}
.OpenMovieDetail{
    width: 100%;
    position: fixed;
    overflow-x: hidden;
    transition: all .5s; 
}



